{% for ct, Ct in {'an': 'Animals', 'el': 'Elementals', 'un': 'Undead', 'pl': 'Plants', 'de': 'Demonics', 'ro': 'Robots', 'hu': 'Humanoids'}.items() %}
[t:template,n:sumcol_mart_merchant_{{Ct.lower()}}_content]
{
    specializes = sumcol_mart_merchant_{{Ct.lower()}}_content_base;

	common:screen_name = "{{Ct}}";
    [store]
    {
        [item_restock]
        {
			{% for row in data if row['ct'] == ct and not row['test_only'] %}
			{{ row['sos'] }}_summon_{{ row['stn'] }} = 1;
			{% endfor %}
        }
    }
}
{% endfor %}
