SUMMONS COLLECTION CREATURES
{% for v, V in {'v': 'Vanilla', 'loa': 'LoA'}.items() %}
{% for std, Std in {'std': 'Standard', 'nstd': 'Non-Standard'}.items() %}

{{ V }} {{ Std }} Creatures:
{% for ct, Ct in {'an': 'Animals', 'el': 'Elementals', 'un': 'Undead', 'pl': 'Plants', 'de': 'Demonics', 'ro': 'Robots', 'hu': 'Humanoids'}.items() %}
- {{ Ct }}:
  {% for row in data if row['v'] == v and row['ct'] == ct and (row['ft'] == 'std') == (std == 'std') and not row['test_only'] %}
  - {{ row['csn'] }}
  {% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
