{% set creatures = data | rejectattr('test_only') | list %}
SUMMONS COLLECTION CREATURES: {{ creatures | length }}
{% for v, V in {'v': 'Vanilla', 'yh': 'Yesterhaven', 'loa': 'LoA'}.items() %}
{% for std, Std in {'std': 'Standard', 'nstd': 'Non-Standard'}.items() %}
{% set creatures_v_std = [row for row in creatures if row['v'] == v and (row['ft'] == 'std') == (std == 'std')] %}

{{ V }} {{ Std }} Creatures: {{ creatures_v_std | length }}
{% for ct, Ct in {'an': 'Animals', 'el': 'Elementals', 'un': 'Undead', 'pl': 'Plants', 'de': 'Demonics', 'ro': 'Robots', 'hu': 'Humanoids'}.items() %}
{% set creatures_v_std_ct = [row for row in creatures_v_std if row['ct'] == ct] %}
{% if creatures_v_std_ct | length %}
- {{ Ct }}: {{ creatures_v_std_ct | length }}
  {% for row in creatures_v_std_ct %}
  - {{ row['csn'] }}
  {% endfor %}
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}
